git+https://github.com/amaranth-lang/amaranth@main
git+https://github.com/amaranth-lang/amaranth-soc@main
git+https://github.com/amaranth-lang/amaranth-stdio@main
git+https://github.com/amaranth-lang/amaranth-boards@main
git+https://github.com/minerva-cpu/minerva
git+https://github.com/m-labs/asyncserial

